---
---
<div class="controls">
    <button class="btn btn-save" id="saveBtn">
        <i class="fas fa-save"></i>
        <span>Save Progress</span>
    </button>
    <button class="btn btn-export" id="exportBtn">
        <i class="fas fa-file-pdf"></i>
        <span>Export to PDF</span>
    </button>
    <button class="btn btn-reset" id="resetBtn">
        <i class="fas fa-redo"></i>
        <span>Reset All Data</span>
    </button>
</div>